@model IEnumerable<FullStack.Models.Modules>

@{
    ViewData["Title"] = "Module";
}

<partial name="_TopNav" />
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <partial name="_brandlogo" />
    <!-- Sidebar -->
    <div class="sidebar">

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                        <i class="nav-icon fa-solid fa-gauge-high"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="AttachmentFile" asp-action="Index">
                        <i class="nav-icon fa-solid fa-file-pen"></i>
                        <p>
                            Assessment
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Feedbacks" asp-action="Index">
                        <i class="nav-icon fa-sharp fa-solid fa-comments"></i>
                        <p>
                            Feedback
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Tasks" asp-action="Index">
                        <i class="nav-icon fa-solid fa-list-check"></i>
                        <p>
                            Tasks
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Notifications" asp-action="Index">
                        <i class="nav-icon fa-solid fa-bell"></i>
                        <p>
                            Notifications
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <i class="nav-icon fa-solid fa-user"></i>
                        <p>
                            Profile
                        </p>
                    </a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    // this section is accessible to admin only
                    <li class="nav-header">ADMIN AREA</li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="AppRoles" asp-action="Index">
                            <i class="nav-icon fa-sharp fa-solid fa-user-shield"></i>
                            <p>
                                Role
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Enrollment" asp-action="Index">
                            <i class="nav-icon fa-solid fa-scroll"></i>
                            <p>
                                Enrollment
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="Index">
                            <i class="nav-icon fa-solid fa-users"></i>
                            <p>
                                Users
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Modules" asp-action="Index">
                            <i class="nav-icon fa-solid fa-book fa-beat"></i>
                            <p>
                                Modules
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="UserModule" asp-action="Index">
                            <i class="nav-icon fa-solid fa-address-card"></i>
                            <p>
                                User Modules
                            </p>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Module</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        @*<li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>*@
                        <li class="breadcrumb-item active">Module</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <p>
                <a class="btn btn-primary btn-gradient font-weight-bold" asp-action="Create">
                    <i class="fa-solid fa-plus fa-beat"></i>
                    Add New Module
                </a>
            </p>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Available Modules</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ModulesID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ModuleTitle)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.School)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedDateTime)
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ModulesID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ModuleTitle)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.School)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedDateTime)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.ModulesID">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.ModulesID">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.ModulesID">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ModulesID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ModuleTitle)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.School)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedDateTime)
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<partial name="_FooterCopyright" />